<ion-header>

  <ion-navbar color="yellow"> 

    <ion-toolbar>

      <ion-grid>

        <ion-row align-items-center>

          <ion-col align-self-center col-1>

            <ion-buttons slot="start">

              <button text-center (click)="voltar()" ion-button icon-only>
                <ion-icon name="arrow-back"></ion-icon>
              </button>

            </ion-buttons>

          </ion-col>


          <ion-col align-self-center col-10>

            <ion-title text-center>Carrinho de Compras</ion-title>

          </ion-col>


          <ion-col col-1>

            <ion-buttons slot="end">

              <button type="button" (click)="mostrarCarrinho(this.pedido)" ion-button icon-only>
                <ion-icon name="cart"></ion-icon>
              </button>

            </ion-buttons>

          </ion-col>


        </ion-row>

      </ion-grid>

    </ion-toolbar> 

  </ion-navbar>

</ion-header>


<ion-content padding>

  <form (ngSubmit)="adicionarCarrinho()" [formGroup]="formVenda">


    <ion-item>

      <label item-content for="produto">Item:</label>


      <ion-select class="selectProd" placeholder="Produto" (ionChange)="escolheProduto($event)" formControlName="produto">
        <ion-option value="{{prod.nome}}" *ngFor="let prod of produtos | async">{{prod.nome}}</ion-option>
      </ion-select>


    </ion-item>


    <ion-item>

      <label item-content for="quantidade">QTD: </label>


      <ion-input type="number"  placeholder="  Quantidade" formControlName="quantidade"></ion-input>

    </ion-item>


    <button type="submit" [disabled]="!formVenda.valid" ion-button icon-only>
        <ion-icon name="add"></ion-icon>
    </button>


    <ion-item  *ngFor = "let prod2 of produtos2 | async">

      <label item-content for="valorUnidade">(R$)</label>


      <ion-input type="text" value="{{prod2.preco}}" [readonly]="isReadonly()" placeholder="Valor do Produto" formControlName="valorUnidade"></ion-input>
    
    </ion-item>


    <ion-scroll scrollY="true">

      <div ngxErrors="quantidade">
        <div [ngxError]="['required']" [when]="['touched']">Digite a quantidade de produtos</div>
      </div> 


      <div ngxErrors="produto">
        <div [ngxError]="['required']" [when]="['touched']">Selecione o produto</div>
      </div>  

    </ion-scroll>


  </form>

</ion-content>

<ion-footer>
  
  <div padding-horizontal text-center>
    <button ion-button color="vermelho" (click)="finalizarPedido()" >Finalizar Pedido</button>
  </div>

</ion-footer>