page-registro-produto-pedido {
    .selectProd {
        min-width: 80%;
    }
    ul {
        list-style-type: none;
    }
    ion-scroll {
        white-space: nowrap;
        height: 120px;
        width: 100%;
    }
}
